{% extends 'shablon.html' %}

{% block title %}
главная
{% endblock %}

{% block body %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">главная страница</h1>
        <p class="lead text-muted">Благодаря этому сайту, ты можешь съебать из города. Например если мать сковородкой пиздит.</p>
        <p>
          <a href="/ticket" class="btn btn-primary my-2">Залететь в покупки</a>
          <a href="/about" class="btn btn-secondary my-2">хочешь узнать о нас?</a>
        </p>
      </div>
    </div>
{% endblock %}